.App {
  text-align: center;
  font-family: 'Titan', cursive;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 3px;
  line-height: 1.5;
  text-shadow: 5px 5px 10px violet, 10px 10px 20px orange;
}
body{ 
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
h1{
  position: relative;
  left: 2%;
  font-size: 50px;
  text-shadow:  2px 2px 2px cyan, 2px 2px 1px steelblue;
  color: dark;
  letter-spacing: 8px;
  text-decoration: underline;
}

.container{
  display: grid;
  margin: 60px;
  padding: 30px;
  justify-content: center;
  box-shadow: 5px 5px 10px red, 10px 10px 20px yellow;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}